@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: slate-100;
  --color-nav-background: oklch(60.6% 0.25 292.717);
  --color-dark-background: #33126e;
  --color-dark-nav-background: #ffffff;
  --color-dark-text: #33126e;
  --color-dark-btn-background: #6c4aa7;
  --color-dark-svg: #e5d6ff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
